<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./navegador.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="estructura">
        <div class="imgLogo">
            <img src="C:\Users\2072645\Documents\TCS\Capacitación y Aprendizaje Desarrollador\Java Nivel 2\PROYECTO FINAL\SucursalVirtualPersonas\Images\logo.jpg" alt="" width="100%">
        </div>
        <div>
            <h1>Sucursal Virtual Personas</h1>
        </div>
        <div>
           <h3>Fecha y hora actual:</h3> 
        </div>
        <div>
            <h2>Inicio de sesion</h2>
        </div>
        <div class="seccionDos">
            <div class="borde">
                <h2>Usuario</h2>
                <div>
                    <h3 style="background-color:rgb(223, 215, 215) ;">Si no tienes un usuario asignado ingresa con tu documento de identidad</h3>
                </div>
                <div>
                    <h3>Ingresa tu usuario </h3>
                    <input type="text" style="width:80%; margin-left: 5%;">
                </div>
                <div >
                    <button class="btnContinuar"><b>Continuar</b> </button>
                </div>
                
                <div class="preguntas">
                    <div>
                        ¿Olvidaste tu número?
                    </div>
                    <div>
                        ¿Problemas para conectarte?
                    </div>
                </div>
            
            </div>
            <div>
                <img src="C:\Users\2072645\Documents\TCS\Capacitación y Aprendizaje Desarrollador\Java Nivel 2\PROYECTO FINAL\SucursalVirtualPersonas\Images\imgPublicidad.png" alt="" width="90%">
            </div>
            
        </div>
        
        

    </div>

</body>
</html>